$content-header-breakpoint: sm !default;
$content-header-display: flex !default;

.content-header {
    display: $content-header-display;
    justify-content: space-between;
    align-items: center;
}
